<mat-card class="mb20">
  <mat-card-title><b>Income Tax Declaration</b></mat-card-title>
  <mat-card-content>
    1. Payroll will compute tax based on the declarations and make the necessary tax deductions
    <br>
    2. Window for submission is between 1st to 10th of the month <br>
    3. For employees joining post 15th of the month, the window will be open the following month between 1st to 10th
    
  </mat-card-content>
</mat-card>

<iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=gDzL6VZBOUyn_mj-Qno9Rlvg8QLGGB9MskMOXC4Jm-NUQTVFUlU4OFk5R1BDWlhEOTQ0U0MyWjdNQy4u" style="width:100%; height:100%;" frameborder="0"></iframe>
