<div class="basic-container">
  <mat-toolbar class="toolbar" color="primary">
      <img class="logo-style" (click)="snav.open()" width="150" height="50" src="assets/logo.png"/>
      <button class="user-style" mat-icon-button ><mat-icon>person</mat-icon> {{user.name}}</button>
      <button class="logout-style" (click)="logout()" mat-icon-button ><mat-icon>logout</mat-icon></button>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav> 
        <mat-nav-list class="menu-bg">
          <a (click)="snav.toggle()" class="color-white" mat-list-item routerLink="{{nav.href}}" *ngFor="let nav of fillerNav"><mat-icon>{{nav.icon}}</mat-icon><span class="pl20">{{nav.name}}</span></a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <div class="card-style">
              <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
