<mat-card class="mb20">
  <mat-card-title><b>Group Mediclaim Insurance(GMI) Options and Dependent Declaration</b></mat-card-title>
  <mat-card-content>
    1. Employees have the option of choosing the preferred insurance cover. This is a one-time submission<br>
    2. Employees have to declare the dependent details, on or before 3rd of the subsequent month of joining, to be eligible for GMI
    
  </mat-card-content>
</mat-card>

<iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=gDzL6VZBOUyn_mj-Qno9Rnu2SbzUwU1KgPjySruCjvxUQlFXUFBKQjNZU0UxRElXRkk3UDhEUDlVRi4u" style="width:100%; height:100%;" frameborder="0"></iframe>
