<mat-card class="mb20">
  <mat-card-title><b>Salary Account</b></mat-card-title>
  <mat-card-content>
    1. Bank Account details for salary and other pay-outs (as applicable) should be updated on/before 15th of the joining month.  <br>
    2. Employees who have joined after 14th of the month, will receive their salary in the subsequent month, along with arrears.
  </mat-card-content>
</mat-card>

  <mat-card class="mt20">
    <form class="form-container">
        <mat-form-field>
          <input matInput placeholder="Bank Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Account Number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="IFSC Code">
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </form>

  </mat-card>
  
<div class="mat-elevation-z8 mt20">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef> Emp Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Bank Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="account_number">
          <th mat-header-cell *matHeaderCellDef> Account Number </th>
          <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ifsc">
        <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
        <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
