body span{ 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
.docs-app-background {
    background: #fafafa;
}
.color-white{
    color: #fff!important;
}
.pl20{
    padding-left: 20px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
table {
    width: 100%;
}
.w75 {
    width: 75%;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-container > * {
    width: 100%;
}
.button-row button{
    margin-right: 8px;
}
.button-row{
    text-align: right;
}
.width90{
    width: 90%;
}
.plb10{
    padding-bottom: 10px;
    padding-left: 10px;
}
.plr10{
    padding-right: 10px;
    padding-left: 10px;
}
.cursor-pointer{
    cursor: pointer;
}
.ml75{
    margin-left: 75px;
}
.ml50{
    margin-left: 50px;
}
.mat-radio-label-content{
    padding-right: 10px !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #ff5722!important;
}
.mat-radio-label{
    margin: 5px;
}