<mat-card class="mb20">
  <mat-card-title><b>Zeta Meal Card - FAQ</b></mat-card-title>
  <mat-card-content>
    1. ZETA Meal Cards is provided by the company, based on voluntary declaration and is tax exempted. <br>
    2. One can opt for INR 1100 per month or INR 2200 per month, as part of initial declarations, upon joining the company. <br>
    3. Refer ZETA Meal Card FAQs in ATLAS under 'FAQs'
  </mat-card-content>
</mat-card>

<iframe src="assets/ZETAFAQs.pdf" style="width:100%; height:100%;" frameborder="0"></iframe>